// Colours

$main-colour: #FF7ED8;
$lighter-main: #FFCBEF;
$secondary-colour: #9D9D9D;
$very-light-grey: #f0f0f0;

$main-font: 'Montserrat Alternates',
sans-serif;
$secondary-font: 'M PLUS Rounded 1c',
sans-serif;
;


$max-width: 960px;
$full-width: 100%;

$page-margin: 7rem;

@mixin sublet-shadow {
    -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    -moz-box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}