.login_button {
    padding: 1rem 1rem;
    width: 10rem;
    font-weight: 500;

    &:hover {
        // font-weight: bold;

    }

    &--login {
        background-color: $lighter-main;
        color: $main-colour;
        font-family: $main-font;
        border-radius: 0.5rem 0 0 0.5rem;
        border: 0;

        &:hover {
            background-color: darken($lighter-main, $amount: 1.1);
        }
    }

    &--register {
        background-color: $very-light-grey;
        color: $main-colour;
        font-family: $main-font;
        border-radius: 0 0.5rem 0.5rem 0;
        border: 0;

        &:hover {
            background-color: darken($very-light-grey, $amount: 1.1);
        }
    }
}
