.navbar-logo {
    // display: flex;
    // justify-content: center;
    display: block;
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;


    &--image {
        max-width: 12rem;
    }
}