.content-container {
    max-width: $max-width;

    margin: auto;
    margin-bottom: 7rem;
    margin-top: 2rem;


    .content-container__cards {

        // border: black 1px solid;

        display: grid;
        gap: 2rem 3.75rem;
        grid-template-columns: repeat(3, 1fr);

    }



}

.content-title {
    margin-bottom: 3rem;
}

.content-cards {
    max-width: 17.5rem;
    min-width: 17.5rem;
    // border: 1px solid $main-colour;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    height: 393px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: #ffffff;



    @include subtle-shadow
}

.content-cards-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 0rem 1rem 0rem 1rem;
    font-family: $main-font;
    font-size: 1.2rem;
    font-weight: 500;

}

.content-cards__image {
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 572px;



}

.cards__image {


    width: 100%;
    overflow: hidden;

    border-radius: 5px 5px 0 0;

}

.content-cards--svg {
    max-width: 1rem;

}

.content-cards__title {
    width: 100%;
    color: $main-colour;
    padding-bottom: 1rem;
    border-bottom: 1px solid $very-light-grey;
    font-weight: 500;
}


.content-cards__prep {
    width: 100%;
    color: $grey;
    font-weight: 300;
    padding-bottom: 1rem;
    border-bottom: 1px solid $very-light-grey;
    display: flex;
    justify-content: space-between;
    // margin-right: 0.5rem;
}

.content-cards__creator {
    // width: 100%;
    color: $grey;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    // margin-right: 0.5rem;

}

.content-cards--svg {
    max-width: 1.5rem;
    fill: $grey;
    // margin-left: 1rem;

}



.cards-highlight {
    color: $main-colour;
    text-decoration: none;

    

    &--link {
        text-decoration: none;
        
        &:hover {
            color: $lighter-main;
        }
    }

    
}

.content-cards__view {
    background-color: $main-colour;
    color: white;
    border-radius: 0 0 5px 5px;
    height: 7rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    cursor: pointer;
    font-family: $main-font;
    text-decoration: none;


    &:hover {
        background-color: lighten($main-colour, $amount: 3);
        color: darken(white, $amount: 3);
    }


}
