.create-container {
    max-width: $max-width;
    margin: auto;
    margin-bottom: 7rem;
}

.create-form {


    &__title {
        font-family: $secondary-font;
        font-size: 1.5rem;
        color: $main-colour;
        margin-bottom: 0.75rem;
        margin-top: 3rem;

        width: 100%;
        display: inline-block;
    }

    &__input {
        -webkit-appearance: none;
        border: none;
        border-bottom: 0.2rem solid $secondary-colour;
        border-radius: 0.3rem 0.3rem 0.1rem 0.1rem;
        width: 100%;

        // background: $very-light-grey;
        // padding: 1em 2em;
        // padding-left: 0.5rem;
        // color: grey;



        &:focus {
            border-bottom: $main-colour 0.2rem solid;
        }
    }

    &__select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // width: 50%;
        border: none;
        border-bottom: 0.2rem solid $secondary-colour;
        border-radius: 0.3rem 0.3rem 0.1rem 0.1rem;
        // background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='grey'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
        // background-size: 12px;
        // background-position: calc(100% - 20px) center;
        // padding: 1em 2em;
        background-repeat: no-repeat;
        background-color: $very-light-grey;
        text-align: center;
        font-size: 2rem;

        // padding-left: 0.5rem;
        color: $main-colour;


        &:focus {
            border-bottom: $main-colour 0.2rem solid;
        }
    }

    &__button {
        position: relative;
        display: inline-block;
        size: 150px;

        display: block;
        height: 3.5rem;
        padding: 1em 2em;
        border: none;
        background: rgba($main-colour, 0.1);
        color: $secondary-colour;
        border-radius: 0.3rem 0.3rem 0.1rem 0.1rem;
        border-bottom: $secondary-colour solid;
        position: relative;
        z-index: 1;
        display: flex;

        & input[type="file"] {
            -webkit-appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            text-align: center;
            position: relative;
            display: inline-block;
            // min-width: 150px;
            // max-width: 250px;
            // display: block;
            height: 3.5rem;
            // padding: 1em 2em;
            border: none;
            background: $very-light-grey;
            color: $secondary-colour;
            border-radius: 0.3rem 0.3rem 0.1rem 0.1rem;
            border-bottom: $secondary-colour solid;
            position: relative;
            z-index: 1;
            display: flex;
        }

        &:hover {
            border-bottom: $main-colour solid;
        }

    }

    &__time-container {
        width: 100%;
        display: flex;

    }

    &__time {
        -moz-appearance: textfield;
        margin: 0;
        border: none;
        border-bottom: 0.2rem solid $secondary-colour;
        border-radius: 0.3rem 0.3rem 0.1rem 0.1rem;
        width: 4rem;


        background: $very-light-grey;



        color: grey;
        text-align: center;






        &:focus {
            border-bottom: $main-colour 0.2rem solid;
        }

        &-text {


            margin: 0 1rem;
            align-self: center;
        }


    }

    &__post {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        text-align: center;
        background-color: $main-colour;
        font-family: $secondary-font;

        color: white;
        font-size: 2rem;
        border: 0;
        border-radius: 3px;
        margin: 0.75rem 0;
        margin-top: 3rem;

        &:hover {
            background-color: lighten($main-colour, $amount: 3);
            color: darken(white, $amount: 3);
        }
    }
}
