.create-container {
    max-width: $max-width;
    margin: auto;
}

.create-form {
    margin-top: 7rem;

    &__title {
        font-family: $secondary-font;
        font-size: 1.5rem;
        color: $main-colour;
        margin-bottom: 0.25rem;
        margin-top: 3rem;
        text-transform: lowercase;
        width: 100%;
        display: inline-block;
    }

    &__input {
        -webkit-appearance: none;
        border: none;
        border-bottom: 0.2rem solid $secondary-colour;
        border-radius: 0.3rem 0.3rem 0.1rem 0.1rem;
        width: 100%;
        background: rgba($main-colour, 0.18);
        height: 2.5rem;
        padding-left: 0.5rem;
        color: grey;
        margin-top: 0.5rem;


        &:focus {
            border-bottom: $main-colour 0.2rem solid;
        }
    }

    &__select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 50%;
        border: none;
        border-bottom: 0.2rem solid $secondary-colour;
        border-radius: 0.3rem 0.3rem 0.1rem 0.1rem;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='grey'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
        background-size: 12px;
        background-position: calc(100% - 20px) center;

        background-repeat: no-repeat;
        background-color: rgba($main-colour, 0.18);
        height: 2.5rem;
        padding-left: 0.5rem;
        color: grey;
        margin-top: 0.5rem;

        &:focus {
            border-bottom: $main-colour 0.2rem solid;
        }
    }

    &__button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: $main-colour;
        border: pink;
    }
}
