.page-title {
    background-color: $lighter-main;
    height: 80px;
    padding: 0;

}

.page-title--container {
    position: relative;
    max-width: $max-width;

}

.main-heading {
    text-align: left;
    display: inline-block;
    position: inherit;
    top: 8px;

}
