.blogHeading {
    width: 100%;
    margin-top: 2rem;
}

.recipe-image_container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.recipe-container {
    width: 27.5rem;
    

    color: $dark-grey;
    // padding: 1rem;

    &--inner {
        background-color: $lighter-main;
        padding: 1rem;
        border-radius: $border-radius;
    }
}


.blog-image--container {
    width: 27.5rem;
    // align-self: center;
}


.blog-image {
    max-width: 100%;
    border-radius: $border-radius;
}

.blog-post {
    width: 100%;
    background-color: lighten($very-light-grey, $amount: 5);
    padding: 1rem;
    margin-top: 2rem;
    border-radius: $border-radius;
}

.blog-info {

    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: lighten($very-light-grey, $amount: 4);
    padding: 1rem;
    border-radius: $border-radius;

    &--text {
        color: $main-colour;
        font-family: $secondary-font;
        font-size: 2rem;

    }

}
